img{
    width: 200px;
}
.remove{
    
    padding: 0.5rem 0.5rem;
    width: 3rem;
    
}
.remtodo{
    width: 6.5rem;
}
li{
    list-style-type: none;
    width: 220px;
}
ul{
    display: flex;
    gap: 1rem;
}
