
.titulos {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.destacados_titulo {
    border-bottom: solid 1px black;
}


.productos {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}



.boton {
    background-color: white;
    border: solid 1px black;
    font-style: none;
    text-decoration: none;
    color: black;
    padding: 0.5rem;
    border-radius: 5px;
}

.boton:hover {
    color: black;
    background-color: tomato;
}

.precio {
    text-align: center;

}
.row1 {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.row2 {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.contenedor {
    max-width: 1000px;
    margin: 0 auto;
}