.producto_img  {
    height: 177.777px;
    width: 266px;
    border-radius: 5px 5px 0 0;
}

.producto_nombre  {
    font-style: oblique;
    font-weight: bold;

}

.producto {

    background-color: white;
    box-shadow: 0 1px 5px gray;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    color: black;
   
}

a{
    text-decoration: none;
}
.producto:hover{
    animation: hover 0.2s 1 alternate ease-out forwards;
    
}
.producto p {
    margin:  1rem;
}
.hovers{
    display: none;
}
.boton {
    background-color: white;
    border: solid 1px black;
    font-style: none;
    text-decoration: none;
    color: black;
    padding: 0.5rem;
    border-radius: 5px;
}

@keyframes hover {
    0%{

    }
    100%{
        transform:translateY(-15px);
        box-shadow: 0 5px 15px gray;
    }
}