.contenido-modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    max-width: 500px;
    padding: 50px;
    z-index: 1000;
    border-radius: 10px;
}


.cerrar{
    font-size: 1.6rem;
    cursor: pointer;
    width: 25px;
    height: 26px;
    display: flex;
    justify-content: flex-end;
}

.fondo-modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.548);
    z-index: 1000;
}

