.maincontainer{
    max-width: 1000px;
    margin: 0 auto;

}
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin: 2rem 0;
}
.logo img{
    height: 150px;
}

.buscador{
    justify-self: center;
    align-self: center;
    margin-left: 5rem;
}
.buscador input{
    width: 500px;
}

.topbar{
    display: flex;
    gap: 0.3rem;
    justify-content: flex-end;
}
.navbar-input{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: right;
}
.header-titulo h1{
    font-family: 'Caveat', cursive;
    font-size: 2rem;
}
.navbar-input input{
    width: 15rem;
    padding: 0.2rem 0.5rem;
    border: solid 1px gray;
    border-radius: 13px;
}
.navbar-input input:focus{
    outline: black solid 1px;

}
.topbar a{
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-decoration: none;
    border: solid 1px gray;
    color: black;
    padding: 0.5rem;
    border-radius: 5px;
}
.topbar a:hover{
    background-color: brown;
    color: white;
}