.producto_img  {
    height: 177.777px;
    width: 266px;
}

.producto_nombre  {
    font-style: oblique;
    font-weight: bold;

}

.producto {

    width: 300px;
    background-color: white;
    box-shadow: 1px 1px 5px gray;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    padding-bottom: 2rem;

}